.postion-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    div {
        text-align: left;
    }
}

.tech-wrapper {
    text-align: center;
    margin-top: 5em;
    h4 {
        margin: 0;
    }
    .stack-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}


